<!DOCTYPE html>
<html>
<head>
<title>ngHouses</title>
<link rel="stylesheet" href="node_modules/angular-material/angular-material.min.css">
<link  href="node_modules/mdi/css/materialdesignicons.min.css" media="all" rel="stylesheet" type="text/css">

</head>
<body ng-app="ngHouses" ng-controller="housesCtrl">

<md-toolbar color="primary">
    <div class="md-toolbar-tools" >
        <p>ngHouses</p>

        <md-button ng-click="openSidebar()">
            <md-icon class="mdi mdi-plus-circle"></md-icon>
            new house
        </md-button>
    </div>
</md-toolbar>

<md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left">
    <!--md-is-locked-open="true"-->

    <md-toolbar>
        <h1 class="md-toolbar-tools">add house </h1>
    </md-toolbar>

    <md-content layout-padding>
        <form>
            <md-input-container>
                <label for="title">title</label>
                <input type="text" id="title" 
                ng-model="house.title"
                md-autofocus>
            </md-input-container>

            <md-input-container>
                <label for="price">price</label>
                <input type="text" id="price"
                ng-model="house.price">
            </md-input-container>

            <md-input-container>
                <label for="description">description</label>
                <input type="text" id="description"
                ng-model="house.description">
            </md-input-container>

            <md-input-container>
                <label for="image">link</label>
                <input type="text" id="image"
                ng-model="house.image">
            </md-input-container>

            <md-button class="md-primary">
            save
            </md-button>

            <md-button class="md-primary">
            save edit
            </md-button>

            <md-button class="md-warn" ng-click="closeSidebar()">
            cancel
            </md-button>


            <pre></pre>

        </form>

    </md-content>


</md-sidenav>





<md-content class="md-padding" layout="row" layout-wrap>
<md-card ng-repeat="house in houses" flex="30">
                <img  ng-src="{{house.image}}" alt="image of house">

    <md-card-content>

        <div class="house-info">
            <h2 class="md-title">{{house.title}}</h2>
            <h3>{{house.price | currency}} </h3>
            <p>{{house.street}}</p>
            <p>{{house.comments}}</p>
        </div>
        <div layout="row">
            <md-button 
                ng-click="showNotes = true" 
                ng-show="!showNotes" >
                notes
             </md-button>
            <md-button ng-click="showNotes = false"
                ng-show="showNotes">
                hide notes
            </md-button>
            <md-button 
                ng-click="showAdmin = true"
                ng-show="!showAdmin" >
                admin
            </md-button>
            <md-button 
                ng-click="showAdmin = false"
                ng-show="showAdmin">
                close
            </md-button>
         </div>

        <div class="house-notes" ng-show="showNotes" >
            <div>
                 <md-icon class="mdi mdi-emoticon-happy"></md-icon>
                 {{house.pro}}
            </div>
            <div>
                <md-icon class="mdi mdi-emoticon-sad"></md-icon>
            {{house.con}}
            </div>
            
        </div>

        <div class="house-admin" ng-if="showAdmin">
            <h3>Admin</h3>
            <div layout="row">
                <md-button class="md-primary">Edit</md-button>
                <md-button class="md-warn ">Delete</md-button>
            </div>
        </div>

<!--ng-show="showNotes" >
class="mdi mdi-emoticon-happy"-->
<!--class="mdi mdi-emoticon-sad"-->
    </md-card-content>
</md-card>

</md-content>




<script src="node_modules/angular/angular.js"></script>
<script src="node_modules/angular-aria/angular-aria.js"></script>
<script src="node_modules/angular-material/angular-material.js"></script>
<script src="node_modules/angular-animate/angular-animate.js"></script>

<script src="scripts/app.js"></script>
<script src="components/houses.ctr.js"></script>
<script src="components/houses.fac.js"></script>
</body>
</html>
